// Акцентированный цвет #8dd555
// Основной белый #ffffff
// Цвет фона для двух блоков #efdfbf
// Основной цвет текста #222222
// Основной цвет отзывов #c7a252;

$accentColor: #8dd555;
$primaryWhiteColor: #ffffff;
$primaryBgColor: #efdfbf;
$primaryTextColor: #222222;
$primaryReviewsColor: #c7a252;
